
<mat-slide-toggle>Slide me!</mat-slide-toggle>


<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="1"
  max="100000"></mat-slider>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.ytimg.com/vi/g4Sw3h7xUqk/maxresdefault.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-form-field>
    <input matInput value="Disco party!" placeholder="Message" #message>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput value="Dance" placeholder="Action" #action>
  </mat-form-field>
  
  <button mat-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>