  
  <div class="container">
    <img class=i1 src="https://achieve.lausd.net/cms/lib/CA01000043/Centricity/domain/779/welligentbuttons/login.png" height="130px" width="130px">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login Here</h3>
        </div>

        

        <form class="example-form">
                  
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Username"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Password"></textarea>
          </mat-form-field>
        
        
        <button mat-raised-button color="primary">Login</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary">Sign Up</button>
        </form>
 <!-- /container -->


</div>
</div>
