.container{
    margin-top: 50px;
    background-color: lightblue;
    
}

.panel-title{
    text-align: center;
    color:blue;
    font-size: 30px;

}

.i1{
    margin-left: 500px;
}

.form-signin{
    padding: 10px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 370px;
  }
  
  .example-full-width {
    width: 100%;
  }